// Футер вроде норм, а у хедера как-то странно с классами базовыми у планшета и моб вёрстки. Давайте всем делать базовый класс, что бы не было коллизий. 

.header {
    display: flex;
    position: fixed;
    width: 100%;
    height: $nav-height;
    background-color: $white;
    justify-content: space-between;
    align-items: center;
    padding: 0 21px;
    top: 0;
    z-index: 5;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.06);
    
    &-left {
        display: inherit;
        align-items: inherit;
        &-burger {
            display: none;
        }
        &__logo {
            @include logo()
        }
        &__nav {
            display: inherit;
            align-items: inherit;
            margin-left: 142px;
            &-item {
                font-size: $nav-left-fs;
                font-weight: $nav-left-fw;
                color: $gray1;
            }
        }      
    }

    &-mobile-nav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 15;
        height: 100vh;
        width: 85vw;
        background-color: $white;
        transition: .2s; 
        &__nav {
            display: flex;
            flex-direction: column;
            padding: 16px 36px;
            &-item {
                font-size: 16px;
                margin: unset;
                margin-bottom: 24px;
                color: $gray1;
            }
        }
        &__signup-btn {
            width: 103px;
            height: 48px;
        }
        &__close {
            display: flex;
            justify-content: flex-end;
            padding: 20px;
            width: 100%;
            height: 62px;
            border-bottom: 1px solid $gray6;
            &-btn {
                padding: 0 20px 0 20px;
                width: 16px;
                height: 16px;
                background-color: $white;
                border: none;
                &::after {
                    display: block;
                    content: '';
                    background: url(../img/close.svg);
                    background-repeat: no-repeat;
                    width: 16px;
                    height: 16px;
                }
            }
        }
        &--hidden {
            left: -100vw;
        }
    }  

    &-right {
        display: inherit;
        align-items: inherit;
        &__nav {
            display: inherit;
            align-items: inherit;
            &-item {
                font-size: $nav-right-fs;
                font-weight: $nav-right-fw;
                color: $gray2;
                margin-left: 16px;
            }
            &--hide {
                display: none;
            }
        }

        &-btns {
            display: inherit;
            align-items: inherit;
            margin-left: 18px;
            &__more-btn {
                display: none;
                &::after {
                    display: block;
                    content: '';
                    background: url(../img/more.svg);
                    background-repeat: no-repeat;
                    width: 18px;
                    height: 4px;
                    z-index: 3;
                }
            }
            &__search {
                display: none;
                justify-content: space-between;
                width: 344px;
                height: 48px;
                background-color: $gray6;
                z-index: 4;
                &-field {
                    font-weight: normal;
                    font-size: 16px;
                    border: none; 
                    background-color: $gray6;
                    width: calc(344px - 20px);
                }
                &--active {
                    display: flex;
                }
            }
            &__search-btn {
                border: none;
                cursor: pointer;
                margin-left: 18px;
                &::after {
                    display: block;
                    content: '';
                    background: url(../img/search.svg);
                    background-size: 24.4px;
                    height: 24.4px; 
                    width: 24.4px;
                    z-index: 3;
                }
                &--action {
                    margin-left: 0;
                    background-color: $gray6;
                }
                &--hide {
                    display: none;
                } 
            }
            &__close-btn {
                border: none;
                cursor: pointer;
                &::after {
                    display: block;
                    content: '';
                    background: url(../img/close.svg);
                    background-size: 20px;
                    height: 20px; 
                    width: 20px;
                    z-index: 3;
                }
            }
            &__signup-btn {
                margin-left: 16px;
            }
        }
    }
}

.footer {
    padding: 1.3rem 3rem;
    border-top: 1px solid $gray5;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        @include logo()
    }

    &-nav {
        color: $gray1;

        &__item {
            font-size: 0.9rem;
            font-weight: 500;
        }
    }

    &-socials {
        &__item {
            &+& {
                margin-left: 1.3rem;
            }
        }
    }
}

.burger-toggle {
    display: block;
    cursor: pointer;
    input {
        display: none;
        & + div {
            width: 20px;
            height: 14px;
            position: relative;
            div {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                transition: transform .5s ease;
                span {
                    display: block;
                    position: absolute;
                    left: 0;
                    right: 0;
                    &:first-child {
                        top: 0;
                        &:before,
                        &:after {
                            top: 0;
                        }
                    }
                    &:last-child {
                        bottom: 0;
                        &:before,
                        &:after {
                            bottom: 0;
                        }
                    }
                    &:before,
                    &:after {
                        content: '';
                        display: block;
                        width: 47%;
                        height: 2px;
                        border-radius: 1px;
                        background: $gray2;
                        position: absolute;
                        -webkit-backface-visibility: hidden;
                        transition: transform .5s ease, border-radius .3s ease, background .4s ease;
                    }
                    &:before {
                        left: 0;
                        transform-origin: 0 50%;
                        transform: translate(1px, 0) scaleX(1.1);
                    }
                    &:after {
                        right: 0;
                        transform-origin: 100% 50%;
                        transform: translate(-1px, 0) scaleX(1.1);
                    }
                }
            }
            svg {
                display: block;
                fill: none;
                stroke: $gray2;
                stroke-width: 2px;
                width: 44px;
                height: 44px;
                stroke-linecap: round;
                position: absolute;
                left: 50%;
                top: 50%;
                margin: -22px 0 0 -22px;
                stroke-dasharray: 0 82.801 8 82.801;
                stroke-dashoffset: 82.801;
                transform-origin: 50% 50%;
                -webkit-backface-visibility: hidden;
                transform: scale(1);
                transition: stroke-dashoffset .5s ease, stroke-dasharray .6s ease, transform .5s ease, stroke .4s ease;
                &:nth-child(3) {
                    transform: rotate(180deg) scale(1);
                }
            }
        }
        &:checked + div {
            div {
                transform: rotate(90deg);
                span {
                    &:before,
                    &:after {
                        background: $gray2;
                    }
                    &:first-child {
                        &:before {
                            transform: rotate(45deg) translate(2.2px, -3px) scaleX(1.05);
                        }
                        &:after {
                            transform: rotate(-45deg) translate(-2.2px, -3px) scaleX(1.05);
                        }
                    }
                    &:last-child {
                        &:before {
                            transform: rotate(-45deg) translate(2.2px, 3px) scaleX(1.05);
                        }
                        &:after {
                            transform: rotate(45deg) translate(-2.2px, 3px) scaleX(1.05);
                        }
                    }
                }
            }
            svg {
                stroke-dashoffset: 62;
                stroke-dasharray: 0 82.801 62 82.801;
                transform: rotate(90deg);
                stroke: $gray2;
                &:nth-child(3) {
                    transform: rotate(270deg);
                }
            }
        }
    }
}

// Планшетное разрешение
@media only screen and (max-width: 1380px) {
    .header {
        &-right-btns__more-btn {
            display: block;
        }
    
        &-right-btns__search {
            position: fixed;
            top: 100px;
            left: 2%;
            width: 96%;
    
            #search-field {
                width: inherit;
            }
        }
    
        &-right__nav {
            display: none;
            position: absolute;
            justify-content: space-between;
            align-items: left;
            flex-direction: column;
            top: 100px;
            background-color: $gray6;
            padding: 10px 20px;
            border-radius: $border-rad;
            &-item {
                display: block;
                margin: 8px 0px;
                text-align: left;
            }
    
            &--active {
                display: flex;
            }
        }
    
        &-left__nav {
            margin-left: 10px;
        }
    }

    .footer {
        flex-direction: column;

        &-nav {
            margin: 1rem;
            text-align: center;
            justify-content: space-between;

            &__item {
                margin: 1rem;
            }
        }
    }
}

// Мобильное разрешение
@media only screen and (max-width: 990px) {
    .header {
        height: $nav-height-mb;
        padding: 0 15px;

        &-left {
            &__nav {
                display: none;
            }
            &__logo {
                margin-left: 50px;
            }
            &-burger {
                display: block;
            }
        }
        &-right-btns {
            &__signup-btn {
                display: none;
            }
            &__more-btn {
                display: none;
            }
        }

        #search-btn {
            background-color: white;
        }
    
        #search-btn.header-right-btns__search-btn--hide {
            display: block;
            opacity: 0;
            z-index: -5;
        }
    }

    .footer {
        &-nav {
            &__copy {
                display: block;
            }
        }
    }
}