.page-list {
    &-content {
        display: block;
        z-index: 0;
        &-list-header {
            background: url(../../img/list_header.png) no-repeat;
            background-size: cover;
            min-width: 100vw;
            width: 100%;
            height: 18.75rem;
            &-row {
                display: flex;
                justify-content: flex-end;
                flex-direction: column;
                padding: 1rem 20rem;
                height: 51%;
                &__h1 {
                    font-style: normal;
                    font-weight: 800;
                    font-size: 60px;
                    line-height: 108%;
                    letter-spacing: -0.02em;
                    color: $white;
                    width: 100%;
                }
            }
            &-col {
                display: flex;
                justify-content: start;
                padding: 0rem 20rem;
                height: 60%;
                &-1 {
                    display: flex;
                    flex-direction: column;
                    width: 47%;
                    &__h3 {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 24px;
                        line-height: 160%;
                        color: $white;
                    }
                }
            }
        }
        &-wrapper {
            display: flex;
            justify-content: space-between;
            background-color: $gray6;
            width: 100%;
            padding: 5rem 18rem;
            &-sidebar {    
                max-width: 12rem;
                padding: 0rem;
                margin-right: 9rem;
                margin-bottom: 3.8rem;
                &-filters {
                    &-section-title {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        padding: 1rem 0;
                        line-height: 100%;
                        color: $gray2;
                        background: url("../../img/list-marker.svg") 1rem no-repeat;
                        list-style-type: none;
                        ul {
                            padding: 0 1rem;
                            font-weight: normal;
                            color: grey3;
                            li {
                                margin: 0.75rem;
                            }
                        }
                    }
                }
                &-menutitle {
                    &__h2{
                        font-style: normal;
                        font-weight: 800;
                        font-size: 24px;
                        line-height: 160%;
                        color: $gray1;
                        letter-spacing: -0.02em;
                    }
                }
            }
            &-conteiner {
                max-width: 62.5rem;
                padding: 0.5rem;
                &-top {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    margin-bottom: 2.5rem;
                    &-search {
                        width: 60%;
                        background-color: $gray5;
                        padding: 0.9rem;
                        &-field {
                            border-radius: 4px;
                            display: flex;
                            &-icon {
                                background: url(../../img/search.svg);
                                width: 20px;
                                height: 20px;
                                margin-right: 0.6rem;
                            }
                            &-input {
                                width: 80%;
                                padding: 0.1rem;
                                background-color:$gray5;
                                border: none;
                                font-style: normal;
                                font-size: 16px;
                                line-height: 100%;
                                color: $gray2;                               
                            }
                        }
                    }
                    &-makefilter {
                        width: 25%;
                        min-width: 14rem;
                        background-color: $gray5;
                        padding: 0.9rem;
                        &-field {
                            border-radius: 4px;
                            display: flex;
                            &-icon {
                                background: url(../../img/settings.svg) no-repeat;
                                width: 20px;
                                height: 20px;
                                margin-right:0.6rem;
                                margin-top:0.1rem;
                            }
                            &-text {
                                padding: 0.2rem;
                                font-style: normal;
                                font-size: 16px;
                                line-height: 100%;
                                color: $gray2;                            
                            }
                        }
                    }
                }
                &-row :nth-child(2) {
                    margin: 0 1.25rem;
                    margin-bottom: 3.8rem;
                }
                &-row {
                    display: flex;
                    justify-content: space-between;
                    &-col :nth-child(2) {
                        margin: 0;
                    }
                    &-col {
                        display: flex;
                        flex-wrap: wrap;
                        width: 35%;
                        max-width: 19.7rem;
                        min-width: 15rem;
                        background-color: $white;
                        border-radius: 4px;
                        margin-bottom: 3.8rem;
                        &-imgconteiner {
                            border-radius: 4px;
                            &-status {
                                background-color: $white;
                                position: relative;
                                font-style: normal;
                                font-weight: bold;
                                font-size: 12px;
                                line-height: 100%;
                                color: $gray1;
                                text-align: center;
                                padding: 0.25rem;
                                margin-left: 1.25rem;
                                position: absolute;
                            }
                            // для незавершенных проектов
                            &-status-active {
                                color: $green;
                                background-color: $white;
                                position: relative;
                                font-style: normal;
                                font-weight: bold;
                                font-size: 12px;
                                line-height: 100%;
                                color: $green;
                                text-align: center;
                                padding: 0.25rem;
                                margin-left: 1.25rem;
                                position: absolute;
                            }
                            &-img {
                                border-radius: 4px;
                                width: 100%;
                                height: 10rem;
                                object-fit: cover;
                            }
                            //
                            
                        }
                        &-inside {
                            padding: 0 1.25rem;
                            letter-spacing: -0.02em;
                            &__h4 {
                                font-style: normal;
                                font-weight: bold;
                                font-size: 18px;
                                line-height: 100%;
                                color: $gray1;
                                padding: 1rem 0rem;
                            }
                            &-description {
                                font-size: 14px;
                                font-style: normal;
                                line-height: 140%;
                                color: $gray2;
                            }
                            &-donations {
                                margin: 1.5rem 0;
                                p {
                                    display: flex;
                                    justify-content: space-between;
                                    margin-bottom: 0.3rem;
                                    font-size: 16px;
                                    font-weight: 800;
                                    line-height: 125%;
                                    color: $gray1;
                                    letter-spacing: -0.02rem;
                                    span {
                                        font-size: 16px;
                                        font-style: normal;
                                        line-height: 125%;
                                        color: $gray3;
                                        letter-spacing: -0.02rem;
                                    }
                                }
                                &-progress {
                                    height: 0.5rem;
                                    width:100%;
                                    border-radius: 2px;
                                    background-color: $gray5;
                                }
                            }

                            // для незавершенных проектов
                            &-donations-active {
                                margin: 1.5rem 0;
                                p {
                                    display: flex;
                                    justify-content: space-between;
                                    margin-bottom: 0.3rem;
                                    font-size: 16px;
                                    font-weight: 800;
                                    line-height: 125%;
                                    color: $gray1;
                                    letter-spacing: -0.02rem;
                                    span {
                                        font-size: 16px;
                                        font-style: normal;
                                        line-height: 125%;
                                        color: $gray3;
                                        letter-spacing: -0.02rem;
                                    }
                                }
                                &-progress {
                                    height: 0.5rem;
                                    width:100%;
                                    border-radius: 2px;
                                    background-image: linear-gradient(90deg, $green 80%, $gray5 20%);
                                }
                            }
                            //

                        }
                    }
                    &-download {
                        display: flex;
                        justify-content: center;
                        margin-top: 4rem;
                        &-btn {
                            width: 11rem;
                            height: 4rem;
                            background-color: $green;
                            border-radius: 6px;
                            text-align: center;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 100%;
                            color: $green-dark;
                        }
                    }
                }
            }

        }
    }
}

// Ноутбуки
@media only screen and (max-width: 1679px) {
    .page-list {
        &-content {
            &-list-header {
                &-row {
                    padding: 1.5rem 10rem;
                }
                &-col {
                    padding: 0rem 10rem;
                }
            }
            &-wrapper {
                padding: 3rem 10rem;
            }
        }
    }
}
// Планшеты
@media only screen and (max-width: 1380px) {
    .page-list {
        &-content {
            &-list-header {
                &-row {
                    padding: 1.5rem 5rem;
                }
                &-col {
                    padding: 0rem 5rem;
                }
            }
            &-wrapper {
                justify-content: center;
                flex-wrap: wrap;
                padding: 3rem 5rem;
                &-conteiner-row {
                    flex-wrap: wrap;
                    
                    &-col {
                        width: 30%;
                    }
                }
            }   
        }
    }
}

// Телефоны
@media only screen and (max-width: 990px) {
    .page-list {
        &-content {
            &-list-header {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                padding-bottom:3rem;
                background-position: center;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
                &-row {
                    width: 100%;
                    justify-content: center;
                    padding: 3rem 5rem;
                    height: 30%;
                    &__h1 {
                        font-size: 42px;
                    }
                }
                &-col {
                    flex-direction: column;
                    justify-content: flex-start;
                    width: 100%;
                    height: 70%;
                    padding: 0rem 2.5rem;
                    &-1 {
                        width: 100%;
                        &__h3 {
                            font-size: 22px;
                        }
                    }
                }
            }
            &-wrapper {
                justify-content: center;
                flex-wrap: wrap;
                padding: 3rem 7.5rem;
                &-sidebar {
                    margin: 1rem 0;
                }
                &-conteiner {
                    &-top {
                        flex-wrap: wrap;
                        &-search{
                            display: flex;
                            justify-content: center;
                            width: 40%;
                            margin-right: 2rem;
                            margin-bottom: 2rem;
                            &-field-input {
                                width: 60%;
                            }
                        }
                        &-makefilter {
                            display: flex;
                            justify-content: center;
                            min-width: 10rem;
                            width:30%;
                            min-width:13.75rem;
                            margin-bottom: 2rem;
                        }
                    }
                    &-row :nth-child(2) {
                        margin: 0;
                        margin-bottom: 3.8rem;
                    }
                    &-row {
                        flex-wrap: wrap;
                        justify-content: center;
                        &-col {
                            width: 100%;
                            max-width: 100%;
                        }
                    }
                }
            } 
        }
    }
}
