.page-main {
    &-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: url(../img/contentHeaderBg.png) no-repeat;
        background-size: cover;
        height: 100%;
        min-height: calc(100vh - #{$nav-height});
        padding-top: 2rem;
        padding-bottom: 2rem;

        &__title {
            font-style: normal;
            font-weight: 800;
            font-size: 4.5rem;
            line-height: 5rem;
            letter-spacing: -0.02em;
            color: $white;
            margin-bottom: 1.5rem;
        }

        &-row {
            display: flex;
        }

        &-col {
            &-1 {
                display: flex;
                flex-direction: column;
                flex-basis: 75%;

                &__subtitle {
                    font-style: normal;
                    font-weight: 300;
                    font-size: 2.2rem;
                    line-height: 160%;
                    color: $white;
                    margin-bottom: 6rem;
                }

                &__actions {
                    display: flex;
                    justify-content: flex-start;

                    .btn+.btn {
                        margin-left: 32px;
                    }
                }
            }

            &-2 {
                display: flex;
                justify-content: center;
                flex-basis: 25%;
                align-items: center;

                &__watch {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    #play-video {
                        display: inherit;
                        justify-content: center;
                        align-items: center;
                        width: 10rem;
                        height: 10rem;
                        padding: 2.8rem;

                        &::after {
                            display: block;
                            content: '';
                            background: url(../img/play.svg) no-repeat center center;
                            background-size: contain;
                            width: 100%;
                            height: 100%;
                            margin-left: 14px;
                        }
                    }

                    .play-video-btn-label {
                        font-weight: 800;
                        font-style: normal;
                        font-size: 18px;
                        letter-spacing: 0.02em;
                        text-transform: uppercase;
                        color: $gray6;
                        text-align: center;
                        opacity: 0.9;
                        margin-top: 40px;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 1200px) {
    .page-main {
        &-header {
            &__title {
                font-size: 3.5rem;
                line-height: 5rem;
            }
        }
    }
}

@media only screen and (max-width: 990px) {
    .page-main {
        &-header {
            min-height: calc(100vh - #{$nav-height-mb});

            &__title {
                font-size: 2.8rem;
                line-height: 4rem;
            }

            &-row {
                flex-direction: column;
                
                
            }

            &-col {
                &-1 {
                    &__subtitle {
                        font-size: 1.5rem;
                        margin-bottom: 1.8rem;
                    }

                    &__actions {
                        justify-content: center;
                        margin-bottom: 5rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .page-main {
        &-header {
            &__title {
                font-size: 2rem;
                line-height: 150%;
            }

            &-col {
                &-1 {
                    &__subtitle {
                        font-size: 1.3rem;
                        margin-bottom: 1.5rem;
                    }
                    &__actions {
                        margin-bottom: 3rem;
                    }
                }
                &-2 {
                    &__watch {
                        #play-video {
                            width: 5rem;
                            height: 5rem;
                            padding: 1.4rem;
    
                            &::after {
                                margin-left: 7px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .page-main {
        &-header {
            &__title {
                font-size: 1.5rem;
                line-height: 150%;
            }

            &-col {
                &-1 {
                    &__subtitle {
                        font-size: 1rem;
                        margin-bottom: 1.2rem;
                    }

                    &__actions {
                        flex-direction: column;
                        margin-bottom: 2rem;

                        .btn {
                            width: 70%;
                            margin: 0.8rem auto !important;
                        }
                    }
                }
            }
        }
    }
}