<% var data = {
  title: "GrandCore | Главная",
  author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="page-main">
   <section class="page-main-header page-container img">
      <h1 class="page-main-header__title">
         Демократическая платформа полного цикла
      </h1>
      <div class="page-main-header-row">
         <div class="page-main-header-col-1">
            <h3 class="page-main-header-col-1__subtitle">
               Найдите единомышленников и работайте над любыми открытыми проектами вместе
            </h3>
   
            <div class="page-main-header-col-1__actions">
               <a class="btn btn--big">Предложить проект</a>
               <a class="btn btn--big btn--green">Стать спонсором</a>
            </div>
         </div>
   
         <div class="page-main-header-col-2">
            <div class="page-main-header-col-2__watch">
               <button class="btn btn--round btn--transparent" id="play-video"></button>
               <label class="play-video-btn-label" for="#play-video">Смотреть видео</label>
            </div>
         </div>
      </div>
   </section>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>